/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */



nav {
    height: 100%;
    display: flex;
    position: fixed;
    background-color: #23272a;
    top: 0;
    left: 0;
    width: 130px;
    overflow: auto;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 50px;
}

nav button {
    margin: 10px;
    font-size: 45px;
}

h1 {
    text-align: center;
    font-size: 80px;
}

h3 {
    text-align: center;
}

p {
    color: black;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #23272a;
}

row {
    background-color: darkgray;
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.startPage {
    background-color: darkgray;
    height: 500px;
    width: 500px;
    border-radius: 1em;
    padding: 1em;
    text-align: center;
    font-size: 25px;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 55%;
    margin-right: -45%;
    transform: translate(-50%, -50%)   
}

.startPage h5 {
    font-size: 45px;
    color: white;
}


.btn-primary {
    font-size: 25px;
}


.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #8064A2;
    border-color: #8064A2;
}
