/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.navbarLeft {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2F3136;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    
}
* {
    font-family: "Consolas";
}

nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

#layoutButton {
    text-decoration: none;
    width: 95%;
    padding: 0, 30px, 0, 0;
    background-color: #36393F;
}


h1 {
    color: white;
    text-align: center;
    font-size: 40px;
   
}

h3 {
    text-align: center;
}

p {
    color: white;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
  
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    
    }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #36393F;
}

row {
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.startPage {
    background-color: #2F3136;
    height: 500px;
    width: 500px;
    border-radius: 1em;
    padding: 1em;
    text-align: center;
    font-size: 25px;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 55%;
    margin-right: -45%;
    transform: translate(-50%, -50%)
}

.startPage h5 {
    font-size: 35px;
    color: white;
}



.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #8064A2;
    border-color: #8064A2;
}
