<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ModBot.Webclient</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>

        body, h1, h2, h3, h4, h5, h6 {
            font-family: "Montserrat", sans-serif
        }

        .w3-row-padding img {
            margin-bottom: 12px
        }
        /* Set the width of the sidebar to 120px */
        .w3-sidebar {
            width: 120px;
            background: #222;
        }
        /* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
        #main {
            margin-left: 120px
        }
        /* Remove margins from "page content" on small screens */
    </style>
</head>
<body class="w3-black">
    <header>

        <nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">


            <a class="w3-bar-item w3-button w3-padding-large w3-black" asp-area="" asp-controller="Home" asp-action="Start">
                <i class="fa fa-home w3-xxlarge"></i>
                <p>HOME</p>
            </a>

            @if (User.Identity.IsAuthenticated)
            {
                <a class="w3-bar-item w3-button w3-padding-large w3-hover-black" asp-area="" asp-controller="Authentication" asp-action="Logout">
                    <i class="fa fa-eye w3-xxlarge"></i>
                    <p>LOGOUT</p>
                </a>
                <a href="#servers" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
                    <i class="fa fa-eye w3-xxlarge"></i>
                    <p>SERVER</p>
                </a>
            }

            @if ((Context.Request.Cookies["ServerIsSelected"]) == "true")
            {
                <a href="#settings" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
                    <i class="fa fa-user w3-xxlarge"></i>
                    <p>SETTINGS</p>
                </a>
            }
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - ModBot.Webclient - <a asp-area="" asp-controller="Authentication" asp-action="Authentication">Sign in</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>