@{
    ViewData["Title"] = "Home Page";
}

<style>
    #ButtonA {
        position: relative;
        height: 43px;
        line-height: 27px;
        color: #fff;
        background-color: #53538C;
        font-size: 20px;
        top: 20%;
        width: 40%;
        letter-spacing: 0.05em;
        border-radius: 25px;
    }
</style>

@if (!User.Identity.IsAuthenticated)
{

    <div class="startPage">
        <h5>Welcome to Box Bot</h5>

        <p> This is a welcome message explaining what Box bot's purpose is and what it's capable of.</p>

        <br />
        <br />
        <a class="btn" id="ButtonA" asp-area="" asp-controller="Authentication" asp-action="Authentication">Log In</a>
    </div>
}
else
{
    <div class="startPage">
        <h5>You are logged in</h5>

        <p> The sidebar can be used to navigate through the website</p>

        <br />
        <br />
        <br />
        <br />
        <a class="btn" id="ButtonA" asp-area="" asp-controller="Authentication" asp-action="ServerList">Server List</a>
    </div>
}
