@{
    ViewData["Title"] = "Home Page";
}



@if (!User.Identity.IsAuthenticated)
{

    <div class="container">
        <h5>Welcome to Box Bot</h5>

        <p> This is a welcome message explaining what Box bot's purpose is and what it's capable of.</p>
        <br />

        <a class="btn btn-success" asp-area="" asp-controller="Authentication" asp-action="Authentication">Log In</a>
    </div>
 }
