@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style >
    p {
        background: #2F3136;
        color: white;
        border-block-color: #2F3136
    }
    .jumbotron {
        padding: 10px;
        border-radius: 25px;
        background: #2F3136;
        width: 330px;
        height 20px;
        border-inline-color: #2F3136
    }
    .card {
        background: #2F3136;
        border-block-color: #2F3136; 
        border-inline-color: #2F3136;
        margin: 2rem;
    }
    h3 {
        color: white;
    }
    .btn-success {
        border-radius: 25px;
        background-color: darkslateblue;
        border-color: darkslateblue;        
    }
    </style>
<a>@ViewBag.message</a>

<h1> Dashboard </h1>



<div class="row">
    <div class="col-sm">
        <div class="jumbotron">

            <h3> Servers </h3>

            <div class="col-sm d-flex">
                <div class="card card-body flex-fill">
                    <p>
                        "Fyll i text Här.  Vad ni vill ha."
                    </p>
                    <a class="btn btn-success" asp-area="" asp-controller="Authentication" asp-action="Authentication">Enter</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="jumbotron">

            <h3> Settings </h3>

            <div class="col-sm d-flex">
                <div class="card card-body flex-fill">
                    <p>
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                    </p>
                    <a class="btn btn-success" asp-area="" asp-controller="Authentication" asp-action="Authentication">Enter</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="jumbotron">

            <h3> Statistics </h3>

            <div class="col-sm d-flex">
                <div class="card card-body flex-fill">
                    <p>
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                    </p>
                    <a class="btn btn-success" asp-area="" asp-controller="Authentication" asp-action="Authentication">Enter</a>
                </div>
            </div>
        </div>
    </div>
</div>
