@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


}
<style>
    p {
        background: #2F3136;
        color: white;
        border-block-color: #2F3136
    }

    .jumbotron {
        padding: 15px;
        border-radius: 25px;
        background: #2F3136;
        width: 330px;
        height 10px;
        border-inline-color: #2F3136
    }

    .card {
        background: #2F3136;
        border-block-color: #2F3136;
        border-inline-color: #2F3136;
        margin: 2rem;
        width: 220px;
        height 10px;
        margin-bottom: 4px;
    }

    h3 {
        color: white;
    }

    .btn-success {
        border-radius: 25px;
        background-color: darkslateblue;
        border-color: #575777;
        margin: auto;
        
    }
</style>
<a>@ViewBag.message</a>

<h1> Dashboard </h1>



<div class="row">
    <div class="col-sm">
        <div class="jumbotron">

            <h3> Servers </h3>

            <div class="col-sm d-flex">
                <div class="card card-body">
                    <p>
                        "here you can pick a server you're an admin for and  add Box bot to it. 
                        or pick which server bot you whant to edit."
                    </p>
                    <a class="btn btn-success" asp-area="" asp-controller="Authentication" asp-action="Authentication">Enter</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="jumbotron">

            <h3> Settings </h3>

            <div class="col-sm d-flex">
                <div class="card card-body">
                    <p>
                        "Here you can edit, Box Bots settings,
                        for your Server. Add, Delete, Uppdate Words in your list of censored Word.
                        change Powerful your punishment are and when the trigger."
                    </p>
                    <a class="btn btn-success" asp-area="" asp-controller="Authentication" asp-action="Authentication">Enter</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="jumbotron">

            <h3> Statistics </h3>

            <div class="col-sm d-flex">
                <div class="card card-body">
                    <p>
                        "Here You can see an overview of box bots, influence on your server through statistics"
                    </p>
                    <a class="btn btn-success" asp-area="" asp-controller="Authentication" asp-action="Authentication">Enter</a>
                </div>
            </div>
        </div>
    </div>
</div>

