
<h1>Logged in Discord user: @ViewBag.Test </h1>
@model IEnumerable<DiscordServer>
@{
    var AddDiscordBot = "https://discord.com/oauth2/authorize?response_type=code&client_id=844535789882834955&scope=bot%20applications.commands&permissions=2952801470&redirect_uri=https%3A%2F%2Flocalhost%3A5001%2F&guild_id=";
}
<div class="p-5 text-center bg-light">
    <h1 class="mb-3">Please select server</h1>
</div>
<style>
    img {
        float: left;
        width: 60px;
        height: 60px;
        margin-right: 5px;
    }

    #Text {
        width: 300px;
        height: 10px;
        float: right;
    }

    #meta {
        display: flex;
        align-items: center;
    }

    #Button {
        float: right;
        padding-left: 650px;
    }
</style>
<table>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div id="meta">
                        <!-- Do something here to display your items in table format (or whatever format you want with as many columns you want -->
                        @if (item.Icon == null)
                        {
                            <img src="~/images/Default.png" alt="@item.Name" />
                        }
                        else
                        {
                            <img src=@item.Icon alt="@item.Name" />
                        }
                        <p id="Text">
                            @item.Name
                        </p>
                        <div id="Button">
                            <a href=@AddDiscordBot@item.Id class="btn btn-dark">Add bot</a>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<p></p>