@page
@model ModBot.WebClient.Pages.ChatBot.ChatBotModel
@{
    ViewData["Title"] = "Home page";
}


@section ChatWithBot
{

    
    @*skapa en bättre ruta*@
    <h1>Test the chatBot</h1>
    <form action="/action_page.php" target="_blank">

        <p><input class="w3-input w3-padding-16" type="text" style="width: 350px;" placeholder="Message" required name="Message"></p>
        <p>
            <button class="w3-button w3-light-grey w3-padding-large" style=" text-align: center" type="submit">
                <i class="fa fa-paper-plane" style="margin: auto"></i> SEND MESSAGE
            </button>
        </p>

    </form>
}
